name: rllvm CI

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "README.md"
      - ".gitignore"
      - "LICENSE"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "README.md"
      - ".gitignore"
      - "LICENSE"

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Build and Test
    needs: [fmt-check, clippy]
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install stable toolchain
        run: rustup update stable

      - name: Install LLVM/Clang (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt install -y llvm llvm-dev clang libclang-dev
          command -v llvm-config && clang -v

      - name: Install LLVM/Clang (macOS)
        if: ${{ runner.os == 'macOS' }}
        run: |
          brew install llvm

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --all --verbose

  fmt-check:
    name: Format Check
    runs-on: ubuntu-latest
    steps:
      - name: Install stable toolchain
        run: rustup update stable

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run cargo fmt
        run: cargo fmt --all --check --verbose

  clippy:
    name: Clippy Check
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install stable toolchain
        run: rustup update stable

      - name: Install LLVM/Clang (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt install -y llvm llvm-dev clang libclang-dev
          command -v llvm-config && clang -v

      - name: Install LLVM/Clang (macOS)
        if: ${{ runner.os == 'macOS' }}
        run: |
          brew install llvm

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run clippy
        run: cargo clippy --all-targets -- -D warnings

  coverage:
    runs-on: ubuntu-latest
    needs: [fmt-check, test]
    steps:
      - name: Install stable toolchain
        run: rustup update stable

      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Generate code coverage reports
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: lcov.info
          fail_ci_if_error: true
